* {
  box-sizing: border-box;
}

:root {
  --items: 5;
  --indent: 30px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.search-form {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  gap: 10px;
  padding: 16px;
  margin-bottom: 20px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.photo-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: calc(var(--indent) / 2);
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  border-width: 1px;
  border-style: solid;
  border-color: rgb(124, 53, 238);
  border-radius: 15px;
}

.info {
  display: flex;
  justify-content: center;
}

.info-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin: 4px;
}

.load-more {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}
